/* Mixins */
/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap&subset=cyrillic,cyrillic-ext");
/* Width values */
/* RESET STYLES */
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  color: #000;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Oswald", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Oswald", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* HEADER */
.header {
  padding: 10px 0px 20px 0px;
  background-color: #ffffff;
  border-bottom: 1px solid #846227;
}
.header-inner {
  max-width: 1440px;
  width: 100%;
  margin: 0px auto;
  padding: 0px 20px 0px 20px;
}
.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-top__link {
  color: #707070;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: normal;
}
.header-top-lang__item {
  line-height: 19px;
  color: #707070;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  letter-spacing: normal;
  margin: 0px 10px 0px 0px;
}
.header-top-lang__item:hover {
  text-decoration: underline;
}
.header-top-lang__item:last-child {
  margin: 0px;
}
.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-bottom__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header-bottom-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-bottom-menu-list li {
  margin: 0px 50px 0px 0px;
}
.header-bottom-menu-list li:last-child {
  margin: 0px 0px 0px 0px;
}
.header-bottom-menu__link {
  color: #000000;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: normal;
}
.header-bottom-menu__link:hover {
  text-decoration: underline;
}

.header-logo::before {
  content: "";
  background: url(../img/logo.svg);
  display: block;
  width: 121px;
  height: 52px;
}

/* CONTAINER */
.container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  max-width: 1440px;
  width: 100%;
  margin: 0px auto;
  padding: 0px 20px 0px 20px;
}

/* WPAPPER */
.wpapper {
  width: 100%;
  overflow: hidden;
}

/* MAIN PAGE */
.catalogue-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalogue-top_left {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.catologue-header {
  line-height: 24px;
  color: #707070;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  letter-spacing: normal;
}

.catalogue-text {
  line-height: 24px;
  color: #000000;
  font-size: 14px;
  font-family: "Oswald", sans-serif;
  letter-spacing: normal;
}

.catalogue-top_right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.catalogue-btn {
  margin-top: 30px;
}

.catalogue-link {
  padding: 10px 30px 10px 30px;
  border: 1px solid #846227;
  line-height: 19px;
  color: #000000;
  background-color: #f5e0b7;
  font-size: 14px;
  font-family: "Oswald", sans-serif;
  letter-spacing: normal;
  text-transform: uppercase;
}

.catalogue-image-big {
  padding: 10px 10px 10px 5px;
}
.catalogue-image-big img {
  max-width: 100%;
}
.catalogue-image-big:last-child {
  padding: 0px 10px 10px 5px;
}

.catologue-header::before {
  content: "";
  background: url("../img/icons/icon-wheat-left.svg");
  width: 41px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 10px 10px 0px;
}
.catologue-header::after {
  content: "";
  background: url("../img/icons/icon-wheat-right.svg");
  width: 41px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 0px 10px 10px;
}

/* SLIDESHOW */
.slider-title {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #846227;
  text-align: center;
  text-transform: uppercase;
  margin: 0px 0px 20px 0px;
}

.slider-container-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.slider-container-items img {
  max-width: 200px;
  width: 100%;
  height: auto;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 18px 22px 18px 22px;
  background: #846227;
  color: #ffffff;
  font-size: 18px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.prev-btn {
  left: 0;
}
.prev-btn::before {
  content: "";
  background: url(../img/icons/icon-left.svg);
  width: 10px;
  height: 18px;
  display: block;
}

.next-btn {
  right: 0;
}
.next-btn::before {
  content: "";
  background: url(../img/icons/icon-right.svg);
  width: 10px;
  height: 18px;
  display: block;
}

.slider-gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 20px 0px 0px 0px;
}

.slider-gallery-items {
  opacity: 0.7;
  padding: 0px 5px 0px 5px;
}

.slider-gallery-items img {
  width: 120px;
  max-width: 100%;
  height: auto;
}

.slider-gallery-items:hover {
  opacity: 1;
}

.popup-window_slider {
  display: none;
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
}

.popup-content_slider {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 450px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.popup-content_slider img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.prev-btn-modal,
.next-btn-modal {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 18px 22px 18px 22px;
  background: none;
  color: #ffffff;
  font-size: 18px;
  border: 1px solid #ffffff;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.prev-btn-modal {
  left: 5%;
}
.prev-btn-modal::before {
  content: "";
  background: url(../img/icons/icon-left.svg);
  width: 10px;
  height: 18px;
  display: block;
}

.next-btn-modal {
  right: 5%;
}
.next-btn-modal::before {
  content: "";
  background: url(../img/icons/icon-right.svg);
  width: 10px;
  height: 18px;
  display: block;
}

/* PRODUCT PAGE */
.product-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin: 40px 0px 40px 0px;
}
.product-column:first-child {
  padding: 0px 40px 0px 0px;
}

.product-title {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #846227;
  text-align: center;
  text-transform: uppercase;
  margin: 0px 0px 20px 0px;
}

.product-table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid #846227;
  width: 100%;
}

.product-table_body td {
  padding: 5px 20px 5px 10px;
  border: 1px solid #846227;
  font-size: 16px;
  text-align: left;
}

.product-button_order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.product-button_link {
  padding: 13px 37px 13px 37px;
  border: 2px solid #846227;
  color: #846227;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: normal;
  background-color: #f5e0b7;
}
.product-button_link:hover {
  text-decoration: underline;
}

/* MODAL  WINDOWS*/
.popup-window_modal {
  display: none;
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 450px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.popup-form {
  background: #ffffff;
  padding: 40px 0px 10px 0px;
}
.popup-form ul li {
  display: block;
  padding: 15px 20px;
  min-height: 45px;
}
.popup-form::before {
  content: "";
  display: block;
  width: 100%;
  border: 1px solid #846227;
  margin: 0px 0px 20px 0px;
}

.popup-form-field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  outline: none;
  padding: 10px;
  border: 1px solid #846227;
  font-size: 14px;
}
.popup-form-field:focus {
  outline: 2px solid #846227;
}

input[type=submit] {
  padding: 10px 50px 10px 50px;
  margin: 15px 0px 0px 0px;
  background-color: #f5e0b7;
  cursor: pointer;
  border: 1px solid #846227;
  font-size: 18px;
  color: #846227;
  text-transform: uppercase;
}
input[type=submit]:hover {
  background-color: #846227;
  color: #ffffff;
}

textarea {
  width: 100%;
  height: 140px;
  resize: none;
}

.popup-form-field_btn {
  text-align: center;
}

.popup-close {
  display: block;
  position: relative;
  float: right;
  width: 40px;
  height: 20px;
  margin: 25px 25px 0px 0px;
}

.popup-close:before,
.popup-close:after {
  content: "";
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
}

.popup-close:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.popup-close:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

/* CHATBOX */
.popup-chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #f5e0b7;
}
.popup-chat::before {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  width: 30px;
  height: 30px;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.popup-chat_links {
  display: none;
}

.popup-chat_viber.icon {
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #f5e0b7;
}
.popup-chat_viber.icon::before {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  width: 28px;
  height: 37px;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  background: no-repeat url("../img/icons/twitter.svg");
}

.popup-chat_telegram.icon {
  position: fixed;
  bottom: 160px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #f5e0b7;
}
.popup-chat_telegram.icon::before {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  width: 30px;
  height: 30px;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  background-image: url("../img/icons/facebook.svg");
}

.popup-chat_facebook.icon {
  position: fixed;
  bottom: 230px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #f5e0b7;
}
.popup-chat_facebook.icon::before {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  width: 30px;
  height: 30px;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  background-image: url("../img/icons/facebook.svg");
}

.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 20px 0px 20px 0px;
  background-color: #F5E0B7;
}
.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.footer-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-menu-list li {
  margin: 0px 20px 0px 20px;
}
.footer-menu-list li:first-child {
  margin: 0px 20px 0px 0px;
}
.footer-menu-list li:last-child {
  margin: 0px 0px 0px 20px;
}

.footer-menu_link {
  color: #846227;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: normal;
  text-align: center;
}
.footer-menu_link:hover {
  text-decoration: underline;
}

.footer-call {
  color: #846227;
  font-size: 14px;
  font-family: "Oswald", sans-serif;
  letter-spacing: normal;
  text-align: right;
}
.footer-call:hover {
  text-decoration: underline;
}

.footer-contact_us {
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
  color: #ffffff;
  font-size: 14px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: normal;
  background-color: #846227;
}
.footer-contact_us:hover {
  text-decoration: underline;
}

/* .footer-social-link2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    background: greenyellow;
    display: inline-block;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 15px;    
        height: 15px;
        transform: translate(-50%, -50%);
        background: url('../img/icons/twitter.svg');
    }
} */