    
    <header class="header">
        <div class="header-inner">
            <div class="header-top menuTop">
                <a class="header-top__link popupBtn" data-popup="pop_call">Замовити дзвінок</a>
                <div class="header-top-lang">
                    <a href="/en" class="header-top-lang_item">EN</a>
                    <a href="/ru" class="header-top-lang_item">RU</a>
                    <a href="/ua" class="header-top-lang_item">UA</a>
                </div>
            </div>
            <div class="header-bottom">
                <div class="header-bottom__column leftColumn">
                    <nav class="header-bottom-menu menuLeft">
                        <ul class="header-bottom-menu-list">
                            <li>
                                <a href="/catalogue" class="header-bottom-menu__link">Продукція</a>
                            </li>
                            <li>
                                <a href="/partnership" class="header-bottom-menu__link">Співпраця</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header-bottom__column">
                    <a href="/" class="header-logo"></a>
                </div>
                <div class="header-bottom__column rightColumn">
                    <nav class="header-bottom-menu menuRight">
                        <ul class="header-bottom-menu-list">
                            <li>
                                <a href="/about-us" class="header-bottom-menu__link">Про нас</a>
                            </li>
                            <li>
                                <a href="/contacts" class="header-bottom-menu__link">Контакти</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header-burger headerBurger">
                    <div class="header-burger_icon"></div>
                </div>
            </div>
            <div class="header-burger_menu headerBurgerMenu">

            </div>
        </div>
    </header>