<footer class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <div class="footer-column">
        <img src="/images/logo.svg" alt="Logotype" class="footer-logo" />
      </div>
      <div class="footer-column">
        <nav class="footer-nav-menu">
          <ul class="footer-nav-menu-list">
            <li><a href="/catalogue" class="footer-nav-menu_link">Продукція</a></li>
            <li><a href="/partnership" class="footer-nav-menu_link">Співпраця</a></li>
            <li><a href="/about-us" class="footer-nav-menu_link">Про нас</a></li>
            <li><a href="/contacts" class="footer-nav-menu_link">Контакти</a></li>
          </ul>
        </nav>
        <div class="footer-social">
          <ul class="footer-social-menu">
            <li>
              <a href="#" rel="nofollow" class="footer-social-menu_link twitter"> </a>
            </li>
            <li>
              <a href="#" rel="nofollow" class="footer-social-menu_link fb"> </a>
            </li>
            <li>
              <a href="#" rel="nofollow" class="footer-social-menu_link linkedin"> </a>
            </li>
            <li>
              <a href="#" rel="nofollow" class="footer-social-menu_link instagram"> </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-column">
        <a href="tel:+380664126181" class="footer-call">+380 11 111 11 11</a>
        <a class="footer-contact_us popupBtn" data-popup="pop_message_order">Напишіть нам</a>
      </div>
    </div>
  </div>
</footer>