/* Mixins */
@mixin anim($time, $delay) {
  -webkit-transition: all $time ease $delay;
  -moz-transition: all $time ease $delay;
  -ms-transition: all $time ease $delay;
  -o-transition: all $time ease $delay;
  transition: all $time ease $delay;
}

@mixin rotate($deg) {
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -webkit-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin scale($num) {
  -moz-transform: scale($num);
  -ms-transform: scale($num);
  -webkit-transform: scale($num);
  -o-transform: scale($num);
  transform: scale($num);
}

@mixin cnt($h) {
  display: flex;
  flex-direction: column;
  height: $h;
  text-align: center;
  align-items: stretch;
  justify-content: center;
}

@mixin flexorder($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap&subset=cyrillic,cyrillic-ext");

$fontfamily: "Oswald", sans-serif;
/* Width values */
$minwidth: 320px;
$midwidth1: 385px;
$midwidth2: 768px;
$maxwidth: 1440px;

/* RESET STYLES */
@import "null.scss";

/* HEADER */
@import "header.scss";

/* CONTAINER */
.container {
  flex: 1 0 auto;
  max-width: $maxwidth;
  width: 100%;
  margin: 0px auto;
  padding: 0px 20px 0px 20px;
}

/* WPAPPER */
.wpapper {
  width: 100%;
  overflow: hidden;
}


/* MAIN PAGE */
.catalogue-top {
  @include flexbox();
  justify-content: space-between;
}

.catalogue-top_left {
  align-self: center;
  text-align: center;
  flex-flow: column nowrap;
}

.catologue-header {
  line-height: 24px;
  color: #707070;
  font-size: 16px;
  text-transform: uppercase;
  font-family: $fontfamily;
  letter-spacing: normal;
}

.catalogue-text {
  line-height: 24px;
  color: #000000;
  font-size: 14px;
  font-family: $fontfamily;
  letter-spacing: normal;
}

.catalogue-top_right {
  flex: 0 0 50%;
}

.catalogue-btn {
  margin-top: 30px;
}

.catalogue-link {
  padding: 10px 30px 10px 30px;
  border: 1px solid #846227;
  line-height: 19px;
  color: #000000;
  background-color: #f5e0b7;
  font-size: 14px;
  font-family: $fontfamily;
  letter-spacing: normal;
  text-transform: uppercase;
}

.catalogue-image-big {
  padding: 10px 10px 10px 5px;

  img {
    max-width: 100%;
  }

  &:last-child {
    padding: 0px 10px 10px 5px;
  }
}
.catologue-header {
  &::before {
    content: "";
    background: url("../img/icons/icon-wheat-left.svg");
    width: 41px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 10px 10px 0px;
  }
  &::after {
    content: "";
    background: url("../img/icons/icon-wheat-right.svg");
    width: 41px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0px 10px 10px;
  }
}
/* SLIDESHOW */
.slider-container {
}

.slider-title {
  font-family: $fontfamily;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #846227;
  text-align: center;
  text-transform: uppercase;
  margin: 0px 0px 20px 0px;
}

.slider-container-items {
  @include flexbox();
  justify-content: center;
  align-items: center;
  position: relative;
}

.slider-container-items img {
  max-width: 200px;
  width: 100%;
  height: auto;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 18px 22px 18px 22px;
  background: #846227;
  color: #ffffff;
  font-size: 18px;
  transform: translateY(-50%);
  user-select: none;
}

.prev-btn {
  left: 0;
  &::before {
    content: "";
    background: url(../img/icons/icon-left.svg);
    width: 10px;
    height: 18px;
    display: block;
  }
}

.next-btn {
  right: 0;
  &::before {
    content: "";
    background: url(../img/icons/icon-right.svg);
    width: 10px;
    height: 18px;
    display: block;
  }
}

.slider-gallery-container {
  @include flexbox();
  justify-content: center;
  flex-flow: row wrap;
  margin: 20px 0px 0px 0px;
}

.slider-gallery-items {
  opacity: 0.7;
  padding: 0px 5px 0px 5px;
}

.slider-gallery-items {
  img {
    width: 120px;
    max-width: 100%;
    height: auto;
  }
}

.slider-gallery-items {
  &:hover {
    opacity: 1;
  }
}

.popup-window_slider {
  display: none;
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
}
.popup-content_slider {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 450px;
  transform: translate(-50%, -50%);
}
.popup-content_slider img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.prev-btn-modal,
.next-btn-modal {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 18px 22px 18px 22px;
  background: none;
  color: #ffffff;
  font-size: 18px;
  border: 1px solid #ffffff;
  transform: translateY(-50%);
  user-select: none;
}

.prev-btn-modal {
  left: 5%;
  &::before {
    content: "";
    background: url(../img/icons/icon-left.svg);
    width: 10px;
    height: 18px;
    display: block;
  }
}

.next-btn-modal {
  right: 5%;
  &::before {
    content: "";
    background: url(../img/icons/icon-right.svg);
    width: 10px;
    height: 18px;
    display: block;
  }
}

/* PRODUCT PAGE */
.product-wrapper {
  @include flexbox();
  justify-content: space-between;
}

.product-column {
  flex: 0 0 50%;
  margin: 40px 0px 40px 0px;
  &:first-child {
    padding: 0px 40px 0px 0px;
  }
}
.product-title {
  font-family: $fontfamily;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #846227;
  text-align: center;
  text-transform: uppercase;
  margin: 0px 0px 20px 0px;
}

.product-table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid #846227;
  width: 100%;
}

.product-table_body {
  td {
    padding: 5px 20px 5px 10px;
    border: 1px solid #846227;
    font-size: 16px;
    text-align: left;
  }
}
.product-button_order {
  @include flexbox();
  justify-content: center;
  margin-top: 20px;
}
.product-button_link {
  padding: 13px 37px 13px 37px;
  border: 2px solid #846227;
  color: #846227;
  font-size: 16px;
  font-family: $fontfamily;
  text-transform: uppercase;
  letter-spacing: normal;
  background-color: #f5e0b7;
  &:hover {
    text-decoration: underline;
  }
}
@import "modal.scss";
@import "footer.scss";
