/* Mixins */
@mixin anim($time, $delay) {
    -webkit-transition: all $time ease $delay;
    -moz-transition: all $time ease $delay;
    -ms-transition: all $time ease $delay;
    -o-transition: all $time ease $delay;
    transition: all $time ease $delay;
}

@mixin rotate($deg) {
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -webkit-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);
}

@mixin scale($num) {
    -moz-transform: scale($num);
    -ms-transform: scale($num);
    -webkit-transform: scale($num);
    -o-transform: scale($num);
    transform: scale($num);
}

@mixin cnt($h) {
    display: flex;
    flex-direction: column;
    height: $h;
    text-align: center;
    align-items: stretch;
    justify-content: center;
}

@mixin flexorder($val) {
    -webkit-box-ordinal-group: $val;
    -moz-box-ordinal-group: $val;
    -ms-flex-order: $val;
    -webkit-order: $val;
    order: $val;
}

@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap&subset=cyrillic,cyrillic-ext');

$fontfamily: 'Oswald',
sans-serif;
/* Width values */
$minwidth:320px;
$midwidth1:385px;
$midwidth2:768px;
$maxwidth:1440px;

/* RESET STYLES */
@import "null.scss";

/* HEADER */
@import "header.scss";

/* WPAPPER */
.wpapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

/* CONTAINER */
.container {
    max-width: $maxwidth;
    width: 100%;
    margin: 0px auto;
}

/* MAIN PAGE */
.catalogue-top {
    @include flexbox();
    justify-content: space-between;
}

.catalogue-top_left {
    align-self: center;
    text-align: center;
    flex-flow: column nowrap;
}

.catologue-header {
    line-height: 24px;
    color: #707070;
    font-size: 16px;
    text-transform: uppercase;
    font-family: $fontfamily;
    letter-spacing: normal;
}

.catalogue-text {
    line-height: 24px;
    color: #000000;
    font-size: 14px;
    font-family: $fontfamily;
    letter-spacing: normal;
}

.catalogue-top_right {
    flex: 0 0 50%;
}

.catalogue-btn {
    margin-top: 30px;
}

.catalogue-link {
    padding: 10px 30px 10px 30px;
    border: 1px solid #846227;
    line-height: 19px;
    color: #000000;
    background-color: #F5E0B7;
    font-size: 14px;
    font-family: $fontfamily;
    letter-spacing: normal;
    text-transform: uppercase;
}

.catalogue-image-big {
    padding: 10px 10px 10px 5px;

    img {
        max-width: 100%;
    }

    &:last-child {
        padding: 0px 10px 10px 5px;
    }
}

/* PRODUCT PAGE */
.product-wrapper {
    @include flexbox();
    padding: 10px 10px 20px 10px;
}

.product-column {}

/* SLIDESHOW */
.slideshow-container {
    margin: 40px 0px 40px 0px;
}

.slider-title {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    color: #6FC28A;
    text-align: center;
    text-transform: uppercase;
    margin: 0px 0px 20px 0px;
}

.slideshow-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.slideshow-items img {
    max-width: 200px;
    width: 100%;
    height: auto;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 18px 22px 18px 22px;
    color: #000000;
    font-size: 20px;
    border-radius: 50%;
    border: 1px solid #000000;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.slideshow-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 20px 0px 0px 0px;
}

.slideshow-row-items {
    opacity: 0.7;
    padding: 0px 5px 0px 5px;
}

.slideshow-row-items {
    img {
        width: 120px;
        max-width: 100%;
        height: auto;
    }
}

.slideshow-row-items{
    &:hover{
        opacity: 1;
    }
}

@import "modal.scss";
@import "footer.scss";