<!DOCTYPE html>
<html lang="uk-UA">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>СТМ Трейд</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%-  include('../partials/header')-%>

    <div class="container">
        <div class="catalogue-top">
            <div class="catalogue-top-left">
                <div class="catalogue-top-left_header">
                    <%= __('header') %>
                </div>
                <div class="catalogue-top-left_text">
                    Левову частку у нашій продукції становлять - крупи. Для постачання якісної та органічної крупи, ми
                    вибираємо тільки найкращих постачальників, які відповідають нашим вимогам. Наша компанія займається
                    реалізацією різних видів круп. Окрім круп, ми активно займаємося постачанням цукру, солі та різних
                    видів макаронних виробів.
                </div>
                <div class="catalogue-top-left_btn">
                    <a href="/catalogue" class="catalogue-btn_link">Каталог</a>
                    <a href="/contacts" class="catalogue-btn_link">Контакти</a>
                </div>
            </div>
            <div class="catalogue-top-right">
                <div class="catalogue-top-right_item catalogueTopImg" data-cover="largeImg_grains">
                    <img src="/images/slides/croups.jpg" alt="Grains picture">
                    <div class="catalogue-top-right_content" id="largeImg_grains">
                        <div class="catalogue-top-right_title">Крупи</div>
                        <a href="/catalogue?sort=grain" class="catalogue-top-right_link">Каталог</a>
                    </div>
                </div>
                <div class="catalogue-top-right_item catalogueTopImg" data-cover="largeImg_coffee">
                    <img src="/images/slides/coffe.jpg" alt="Coffee picture" class="catalogue-top-right_img">
                    <div class="catalogue-top-right_content" id="largeImg_coffee">
                        <div class="catalogue-top-right_title">Кава</div>
                        <a href="/catalogue?sort=coffee" class="catalogue-top-right_link">Каталог</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="catalogue-bottom">
            <div class="catalogue-bottom_item catalogueBottomImg" data-cover="smallImg_sugar">
                <img src="images/slides/sugar.jpg" alt="Sugar picture">
                <div class="catalogue-bottom_content" id="smallImg_sugar">
                    <div class="catalogue-bottom_title">Цукор</div>
                    <a href="/catalogue?sort=sugar" class="catalogue-bottom_link">Каталог</a>
                </div>
            </div>
            <div class="catalogue-bottom_item catalogueBottomImg" data-cover="smallImg_oil">
                <img src="images/slides/oil.jpg" alt="Oil picture">
                <div class="catalogue-bottom_content" id="smallImg_oil">
                    <div class="catalogue-bottom_title">Олія</div>
                    <a href="/catalogue?sort=oil" class="catalogue-bottom_link">Каталог</a>
                </div>
            </div>
            <div class="catalogue-bottom_item catalogueBottomImg" data-cover="smallImg_salt">
                <img src="images/slides/salt.jpg" alt="Salt picture">
                <div class="catalogue-bottom_content" id="smallImg_salt">
                    <div class="catalogue-bottom_title">Сіль</div>
                    <a href="/catalogue?sort=salt" class="catalogue-bottom_link">Каталог</a>
                </div>
            </div>
            <div class="catalogue-bottom_item catalogueBottomImg" data-cover="smallImg_nudles">
                <img src="images/slides/nudles.jpg" alt="Nudles picture">
                <div class="catalogue-bottom_content" id="smallImg_nudles">
                    <div class="catalogue-bottom_title">Макарони</div>
                    <a href="/catalogue?sort=nudles" class="catalogue-bottom_link">Каталог</a>
                </div>
            </div>
        </div>

        <div class="main-page-advntg">
            <div class="main-page-advntg_title">
                Наші переваги
            </div>
            <div class="main-page-advntg_items">
                <div class="advntg-items_top">
                    <div class="advntg-item">Якість продукції</div>
                    <div class="advntg-item">Досвід та репутація компанії</div>
                    <div class="advntg-item">Надійні партнери та постачальники</div>
                </div>
                <div class="advntg-items_bottom">
                    <div class="advntg-item">Сертифікована та екологічна продукція</div>
                    <div class="advntg-item">Широкий вибір продукції</div>
                    <div class="advntg-item">Професійність та кваліфікація працівників</div>
                </div>
            </div>
        </div>

        <div class="main-page-company">
            <div class="main-page-company-img">
                <img src="images/slides/wheat.jpg" alt="Wheat">
            </div>
            <div class="main-page-company-description">
                <div class="company-description_title">
                    Наша компанія
                </div>
                <div class="company-description_text">
                    ТОВ "СТМ Трейд" - це компанія, яка зарекомендувала себе на ринку, як надійний і якісний постачальник
                    у сфері оптової фасувальної продукції власного виробництва. Історія діяльності компанії розпочала
                    свій відлік понад десять років тому. За весь цей час компанія стала лідером на ринку Закарпаття із
                    постачання якісної та органічної фасувальної продукції.
                </div>
            </div>
        </div>

        <div class="main-page-partners">
            <div class="main-page-partners_title">
                Наші партнери
            </div>
            <div class="main-page-partners-slider">
                <div class="partners-slider_items">
                    <img src="images/partners/dastor.png" alt="Partners">
                </div>
                <div class="partners-slider_items">
                    <img src="images/partners/jabil.png" alt="Partners">
                </div>
                <div class="partners-slider_items">
                    <img src="images/partners/silverland.png" alt="Partners">
                </div>
                <div class="partners-slider_items">
                    <img src="images/partners/yazaki.png" alt="Partners">
                </div>
            </div>
        </div>
        <%-  include('../partials/modal')-%>
        <%-  include('../partials/footer')-%>
        
        <script src="/script/script.js"></script>
</body>

</html>