<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cпівпраця</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}

    <div class="container">
        <div class="contacts-map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d42199.983435169226!2d22.24461829636979!3d48.61943318131528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473919b944b6e3d9%3A0xda6ae0130042a3c!2z0KPQttCz0L7RgNC-0LQsINCX0LDQutCw0YDQv9Cw0YLRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjA!5e0!3m2!1suk!2sua!4v1586765156638!5m2!1suk!2sua"
                width="600" height="400" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"
                class="contacts-map-item"></iframe>
        </div>
        <div class="contacts-location">
            <div class="contacts-location-item">
                <div class="contacts-location-item_title">Склад</div>
                <div class="contacts-location-item_text">88017, Закарпатська обл., місто Ужгород, ПРОВУЛОК ЛЕОНТОВИЧА
                    МИКОЛИ, будинок 2, квартира 6</div>
            </div>
            <div class="contacts-location-item">
                <div class="contacts-location-item_title">Офіс</div>
                <div class="contacts-location-item_text">89425, Закарпатська обл., Ужгородський район, село Баранинці,
                    ВУЛИЦЯ КОРИТНЯНСЬКА, будинок 8</div>
            </div>
            <div class="contacts-location-item">
                <div class="contacts-location-item_title">Склад</div>
                <div class="contacts-location-item_text">88017, Закарпатська обл., місто Хуст, вул. Вокзальна, будинок
                    21</div>
            </div>
        </div>
        <div class="contacts-info">
            <div class="contacts-info-item">
                <a href="tel:+380111111111" class="item-phone_link">+380 11 111 11 11</a>
            </div>
            <div class="contacts-info-item">
                <a href="mailto:mail@mail.com" class="item-mail_link">mail@mail.com</a>
            </div>
        </div>
        <div class="contacts-messanger">
            <div class="contacts-messanger_title">
                Є запитання?
            </div>
            <div class="contacts-messanger-writeUs">
                <a href="#" class="contacts-messanger-writeUs_link popupBtn" data-popup="pop_call">Замовити дзвінок</a>
            </div>
            <div class="contacts-messanger_title">
                Або ми відповімо вам тут:
            </div>
            <div class="contacts-messanger-items">
                <div class="contacts-messanger-item">
                    <a href="#" rel="nofollow" class="contacts-messanger-item_telegram"></a>
                </div>
                <div class="contacts-messanger-item">
                    <a href="#" rel="nofollow" class="contacts-messanger-item_facebook"></a>
                </div>
                <div class="contacts-messanger-item">
                    <a href="#" rel="nofollow" class="contacts-messanger-item_viber"></a>
                </div>
                <div class="contacts-messanger-item">
                    <a href="#" rel="nofollow" class="contacts-messanger-item_whatsUp"></a>
                </div>
            </div>
        </div>
    </div>

    {{>modal}}
    {{>footer}}

    <script src="/script/script.js"></script>
</body>

</html>