.header {
    padding: .65em 0 1.25em 0;
    background-color: #ffffff;
    border-bottom: 1px solid $color1;

    &-inner {
        @include container_width($width: 1440px);
        padding: 0 1.25em 0 1.25em;
    }

    &-top {
        @include flexbox();
        justify-content: space-between;
        align-items: center;

        &__link {
            color: $color3;
            font-size: .85em;
            text-transform: uppercase;
            letter-spacing: normal;
        }

        &-lang_item {
            line-height: 1.5;
            color: $color3;
            font-size: .85em;
            text-transform: uppercase;
            font-family: $fontfamily;
            letter-spacing: normal;
            margin-right: .65rem;

            &:hover {
                text-decoration: underline;
            }

            &:last-child {
                margin: 0;
            }
        }
    }

    &-bottom {
        @include flexbox();
        justify-content: space-between;

        &__column {
            @include flexbox();
            align-items: flex-end;
        }

        &-menu-list {
            @include flexbox();

            li {
                margin-right: 3.1em;

                &:last-child {
                    margin-right: 0;

                }
            }
        }

        &-menu__link {
            color: #000000;
            font-family: $fontfamily;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: normal;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.header-logo {
    &::before {
        content: '';
        background: url(../images/logo.svg);
        display: block;
        width: 121px;
        height: 52px;
    }
}

.header-burger {
    display: none;
}

@media (max-width: 768px) {
    body.active {
        overflow: hidden;
    }

    .header {
        padding: .65em 0 .65em 0;

        &-top {
            flex-direction: column;

            &__link {
                position: fixed;
                bottom: 10%;
            }

            &-lang {
                position: fixed;
                width: 100%;
                bottom: 0;
                padding: .65em 0;
                background: $color1;
                text-align: center;

                &_item {
                    margin-right: 1.85em;
                    color: #ffffff;
                }
            }
        }

        &-bottom__column {

            &:first-child {
                display: none;
            }
        }

        &-bottom-menu {
            &-list {
                display: block;
                text-align: center;

                li {
                    padding-top: 1.25em;
                    margin-right: 0;
                }
            }
        }

        &-burger {
            align-self: center;
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            z-index: 10;

            &_icon {
                position: absolute;
                top: 9px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $color1;
                transition: all 0.5s ease 0s;
            }

            &::before,
            &::after {
                content: '';
                position: absolute;
                background-color: $color1;
                width: 100%;
                height: 2px;
                transition: all .5s ease 0s;
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }

            &.active .header-burger_icon {
                transform: scale(0);
            }

            &.active::before {
                transform: rotate(45deg);
                top: 9px;
            }

            &.active::after {
                transform: rotate(-45deg);
                bottom: 9px;
            }

            &_menu {
                @include flexbox();
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: fixed;
                top: 0;
                right: -100%;
                height: 100%;
                width: 100%;
                transition: all .5s ease 0s;
                background: $color2;
                overflow: auto;
                z-index: 5;

                &.active {
                    right: 0;
                }
            }
        }
    }
}